<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Documentación de la API </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1> Documentacion de la API </h1>
    <hr>
    <h3>REQUERIMIENTO LISTAR USUARIOS </h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>1</td>
        </tr>
        <tr>
            <td>NOMBRE DEL SERVICIO</td>
            <td>LISTAR USUARIOS</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/usuarios/listar</td>
        </tr>
        <tr>
            <td>DESCRIPCION</td>
            <td>PERMITE LISTAR LOS USUARIOS REGISTRADOS EN LA BASE DE DATOS</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>USUARIO</td>
            <td>ADMINISTRADOR</td>
        </tr>
        <tr>
            <td>PETICION BODY-FORM DATA</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                CORRECTO :
                STATUS: 200
                JSON:
                {
                    "idusuario": 21,
                    "nombres": "daniel",
                    "direccion": "cra 23-12",
                    "telefono": "21432342",
                    "correo": "florjqndf@gmail.com",
                    "rol": "administrador",
                    "password": ""
                },

                INCORRECTO :
                STATUS: 404
                BODY: JSON: {
                    STATUS: 404,
                    MESSAGE: 'NO SE ENCONTRO USUARIOS REGISTRADOS'
                }

                ERROR :
                STATUS: 500
                BODY: JSON{
                    STATUS: 500
                    MESSAGE: 'ERROR DEL SERVIDOR' + ERROR
                }
            </td>
        </tr>
    </table>
    
    <hr>

    <h3> REQUERIMIENTO REGISTRAR USUARIOS </h3>

    <table>
        <tr>
            <td> NUMERO </td>
            <td> 2 </td>
        </tr>
        <tr>
            <td> NOMBRE DEL SERVICIO </td>
            <td> REGISTRAR USUARIOS </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /usuarios/registrar </td>
        </tr>
        <tr>
            <td> DESCRIPCION </td>
            <td> PERMITE REGISTRAR USUARIOS EN LA BASE DE DATOS </td>
        </tr>
        <tr>
            <td> VERBO HTTP </td>
            <td> POST </td>
        </tr>
        <tr>
            <td> HEADER </td>
            <td> NULL </td>
        </tr>
        <tr>
            <td> USUARIO </td>
            <td> ADMINISTRADOR </td>
        </tr>
        <tr>
            <td> PETICION BODY-FORM-DATA </td>
            <td>
                JSON:
                {
                    "nombres": 
                    "direccion": 
                    "telefono": 
                    "correo": 
                    "rol": 
                    "password":
                }
            </td>
        </tr>
        <tr>
            <td> RESPUESTAS JSON </td>
            <td>
                CORRECTO: 
                STATUS: 200
                BODY JSON:
                {
                    STATUS: 200
                    MESSAGE: SE REGISTRO CON EXITO EL USUARIO
                },

                INCORRECTO:
                STATUS: 403
                BODY JSON:
                {
                    STATUS: 403
                    MESSAGE: NO SE REGISTRO EL USUARIO
                },

                ERROR: 
                STATUS: 500
                BODY JSON:
                {
                    STATUS: 500
                    MESSAGE: ERRROR DEL SERVIDOR + ERROR
                }
            </td>
        </tr>
    </table>

    <hr>

    <h3> REQUERIMIENTO ACTUALIZAR USUARIOS </h3>

    <table>
        <tr>
            <td> NUMERO </td>
            <td>3</td>
        </tr>
        <tr>
            <td> NOMBRE DEL SERVICIO </td>
            <td> ACTUALIZAR USUARIOS </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /usuarios/actualizar/:id </td>
        </tr>
        <tr>
            <td> DESCRIPCION </td>
            <td> PERMITE ACTUALIZAR USUARIOS DE LA BASE DE DATOS </td>
        </tr>
        <tr>
            <td> VERBO HTTP </td>
            <td> PUT </td>
        </tr>
        <tr>
            <td> HEADER </td>
            <td> NULL </td>
        </tr>
        <tr>
            <td> USUARIO </td>
            <td> ADMINISTRADOR </td>
        </tr>
        <tr>
            <td> PETICION BODY-FORM-DATA </td>
            <td>
                JSON: 
                {
                    "nombres": "Nombre del usuario",
                }
            </td>
        </tr>
        <tr>
            <td> RESPUESTAS JSON </td>
            <td>
                CORRECTO: 
                STATUS: 200
                BODY JSON: 
                {
                    STATUS: 200
                    MESSAGE: SE ACTUALIZÓ CON ÉXITO EL USUARIO
                },

                INCORRECTO:
                STATUS: 403
                BODY JSON: 
                {
                    STATUS: 403
                    MESSAGE: NO SE ACTUALIZÓ EL USUARIO
                },

                ERROR: 
                STATUS: 500
                BODY JSON: 
                {
                    STATUS: 500
                    MESSAGE: ERROR DEL SERVIDOR + ERROR
                }
            </td>
        </tr>
    </table>
    
    <hr>

    <h3> REQUERIMIENTO ELIMINAR USUARIOS  </h3>

    <table>
        <tr>
            <td> NUMERO </td>
            <td> 4 </td>
        </tr>
        <tr>
            <td> NOMBRE DEL SERVICIO </td>
            <td> ELIMINAR USUARIOS </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /usuarios/eliminar/1 </td>
        </tr>
        <tr>
            <td> DESCRIPCION </td>
            <td> PERMITE ELIMINAR USUARIOS REGISTRADOS EN LA BASE DE DATOS </td>
        </tr>
        <tr>
            <td> VERBO HTTP </td>
            <td> DELETE </td>
        </tr>
        <tr>
            <td> HEADER </td>
            <td> NULL </td>
        </tr>
        <tr>
            <td> USUARIO </td>
            <td> ADMINISTRADOR </td>
        </tr>
        <tr>
            <td> PETICION BODY-FORM-DATA </td>
            <td> NULL </td>
        </tr>
        <tr>
            <td> RESPUESTAS JSON </td>
            <td>
                CORRECTO: 
                STATUS: 200
                BODY JSON: 
                {
                    STATUS: 200,
                    MESSAGE: 'SE ELIMINO CON EXITO EL USUARIO'
                },

                INCORRECTO: 
                STATUS: 403
                BODY JSON: 
                {
                    STATUS: 403
                    MESSAGE: 'NO SE ELIMINO EL USUARIO'
                },

                ERROR: 
                STATUS: 500
                BODY JSON:
                {
                    STATUS: 500,
                    MESSAGE: ERROR DEL SERVIDOR + ERROR
                }
            </td>
        </tr>
    </table>

    <hr>

    <h3> REQUERIMIENTO BUSCAR USUARIOS </h3>

    <table>
        <tr>
            <td> NUMERO </td>
            <td> 5 </td>
        </tr>
        <tr>
            <td> NOMBRE DEL SERVICIO </td>
            <td> BUSCAR USUARIOS </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /usuarios/buscar/1 </td>
        </tr>
        <tr>
            <td> DESCRIPCION </td>
            <td> PERMITE BUSCAR UN USUARIO EN ESPECIFICO DENTRO DE LA BASE DE DATOS </td>
        </tr>
    </table>

</body>
</html>